@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

/* ---- GENERAL ----*/
*       { box-sizing: border-box; }
body    { font-family: 'Bai Jamjuree', sans-serif; margin: 0; text-align:center; }
img     { max-width: 100%; }
p       { line-height:  1.5; color: var(--dark_grayish_blue); }
section { padding: 30px 0; }
.m4     { margin: 100px auto; }

:root {
    --strong_cyan: hsl(171, 66%, 44%);
    --strong_cyan_shadow: hsl(171, 68%, 36%);
    --light_blue: hsl(233, 100%, 69%);
    --light_blue_shadow: hsl(233, 71%, 61%);
    --dark_grayish_blue: hsl(210, 10%, 33%);
    --grayish_blue: hsl(0, 0%, 93%);
    --white : #ffffff;
}


/* ---- CONTAINER ----*/
.container {
    width: 1200px;
    max-width: 100%;
    margin: 40px auto;
    padding: 0 20px;
}
.container-small {
    width: 700px;
}


/* ---- FLEX ----*/
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.flex > * {
    flex: 1;
    padding: 10px 0;
}


/* ---- BUTTON ----*/
.btn {
    padding: 15px 35px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    color: var(--white);
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 5px;
}
.btn-primary {
    background-color: var(--strong_cyan);
    box-shadow: 0 4px var(--strong_cyan_shadow);
}

.btn-secondary {
    background-color: var(--light_blue);
    box-shadow: 0 4px var(--light_blue_shadow);
}


/* ---- HEADER ----*/
header  {
    background-image: url('../images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 20px;
}

/* ---- FOOTER ----*/
footer {
    background-color: var(--grayish_blue);
}
footer .container {
    margin-bottom: 0;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}
footer a {
    color: var(--dark_grayish_blue);
    text-decoration: none;
}
footer .links {
    flex: 3;
}
footer .links li {
    margin-right: 40px;
    padding: 10px;
}
footer .social li {
    margin: 0 5px;
}
footer .social a {
    font-size: 24px;
    margin-right: 5px;
}
footer img {
    width: 60px;
}


/* ---- RESPONSIVE ----*/
@media (max-width: 768px ){
    .flex {
        flex-direction: column;
        }

    footer .links {
        flex-direction: column;
    }
    footer .links li {
        padding:  10px;
        margin-right: 0;
    }

    .listImg img {
        margin: 20px 0;
    }
}
